/*///////////////////////////////////////////////////////////////////////// Responsive CSS Structure /////////////////////////////////////////////////////////////////////////*/


/*---------- Small Mobile , IPhone Start ----------*/

/*=== Screen Size = 240, 320, 360, 480, 568 ===*/ 

@media (min-width: 240px) and (max-width: 575px){
   
    .banner {
        padding-top: 40px;
    }
    .banner .text .date .sale {
        display: block;
        margin: 8px auto;
    }
    .banner .text-img .row {
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        flex-direction: column-reverse;
    } 
    .banner .text-img [class*="col-"] {
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-right: calc(var(--bs-gutter-x) * 0.5);
    }
    .banner .text h1, .banner .text h2, .banner .text h3, .banner .text h4, .banner .text h5, .banner .text h6 {
        font-size: 30px;
        line-height: 35px;
    }
    .banner .text .date {
        margin: 0 auto;
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 20px;
        padding: 10px 12px;
    }
    .banner .text {
        text-align: center;
    }
    .banner .text .all-btn {
        margin-top: 20px;
    }
    .banner .text p {
        margin-top: 15px;
    }
    .banner .text-img .images {
        width: 225px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .banner .text p br {
        display: none;
    }
    p {
        font-size: 18px;
        line-height: 25px;
    }
    .banner .text .key span {
        word-break: break-all;
        font-size: 14px;
        line-height: 22px;
        padding: 8px 18px;
    }
    .banner .text .all-btn .btn {
        font-size: 14px;
        line-height: 24px;
        padding: 6px 12px;
        margin-bottom: 10px;
    }
    .mystery_features .round-text .text {
        margin-left: 15px;
        width: 200px;
        text-align: left;
    }
    .mystery_features .round-text {
        margin-bottom: 15px;
    }
    
    .mystery_features .round-text .img-text {
        justify-content: center;
    }
    .mystery_features .round-text .image img {
        width: 60px;
        height: 60px;
    }
    .mystery_features .text h1, .mystery_features .text h2, .mystery_features .text h3, .mystery_features .text h4, .mystery_features .text h5, .mystery_features .text h6 {
        font-size: 21px;
        line-height: 31px;
    }
    .mystery_features .round-text .text span {
        line-height: 20px;
    }
    .banner .mystery_features {
        padding: 20px 0px 20px;
    }
    
    .section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
        font-size: 30px;
        line-height: 30px;
    }
    
    .section-heading span {
        font-size: 25px;
        line-height: 25px;
    }
   
    .footer .nft-form {
        margin-bottom: 30px;
        padding: 25px 25px 25px;
    }
    .all-link .link span {
        margin-bottom: 0px;
    }
    .all-link .link li a {
        line-height: 30px;
    }
    .all-link .link ul.second {
        margin-top: 20px;
    } 
    .all-link .link ul {
        margin-top: 20px;
    } 

    .footer .all-link {
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    
    .banner {
        padding-top: 40px;
    }
    .banner .text .date .sale {
        font-size: 14px;
        line-height: 19px;
        margin-right: 10px;
        padding: 4px 12px;
    }
    .banner .text-img .row {
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        flex-direction: column-reverse;
    } 
    .banner .text-img [class*="col-"] {
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-right: calc(var(--bs-gutter-x) * 0.5);
    }
    .banner .text h1, .banner .text h2, .banner .text h3, .banner .text h4, .banner .text h5, .banner .text h6 {
        font-size: 35px;
        line-height: 45px;
    }
    .banner .text .date {
        margin-bottom: 10px;
        text-align: left;
    }
    .banner .text .all-btn {
        margin-top: 20px;
    }
    .banner .text p {
        margin-top: 15px;
    }
    .banner .text-img .images {
        width: 265px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .banner .text p br {
        display: none;
    }
    .banner .text {
        text-align: center;
    }
    p {
        font-size: 18px;
        line-height: 25px;
    }
    .banner .text .all-btn .buy {
        margin-right: 0px;
    }
    .banner .text .all-btn .btn {
        font-size: 16px;
        line-height: 26px;
        padding: 8px 15px;
    }
    .mystery_features .round-text .text {
        margin-left: 15px;
        text-align: left;
        width: 215px;
    }
    .mystery_features .round-text {
        margin-bottom: 15px;
    }
   
    .mystery_features .round-text .image img {
        width: 60px;
        height: 60px;
    }
    .mystery_features .text h1, .mystery_features .text h2, .mystery_features .text h3, .mystery_features .text h4, .mystery_features .text h5, .mystery_features .text h6 {
        font-size: 21px;
        line-height: 31px;
    }
    .mystery_features .round-text .text span {
        line-height: 20px;
    }
    .banner .mystery_features {
        padding: 20px 0px 20px;
    }
    
    .section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
        font-size: 35px;
        line-height: 35px;
    }
    
    .section-heading span {
        font-size: 30px;
        line-height: 30px;
    }
    
    .all-link .link span {
        margin-bottom: 10px;
    }
    .all-link .link ul.second {
        margin-top: 20px;
    } 
    
}

@media (min-width: 768px) and (max-width: 991px){

    .banner .text .date .sale {
        display: block;
        margin: 6px auto;
    }
    .banner .text-img .row {
        margin: calc(-0.5 * var(--bs-gutter-x));
    } 
    .banner .text-img [class*="col-"] {
        padding: calc(var(--bs-gutter-x) * 0.5);
    }
    .banner .text h1, .banner .text h2, .banner .text h3, .banner .text h4, .banner .text h5, .banner .text h6 {
        font-size: 34px;
        line-height: 40px;
    }
    .banner .text .date {
        margin-bottom: 15px;
        text-align: center;
    }
    .banner .text p {
        margin-top: 15px;
    }
    .banner .text .key span {
        word-break: break-all;
    }
    .banner .text p br {
        display: none;
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }
    .banner .text .all-btn .buy {
        margin-right: 0px;
    }
    .banner .text .all-btn .btn {
        font-size: 16px;
        line-height: 26px;
        padding: 8px 15px;
    }
    .mystery_features .round-text .text {
        margin-left: 15px;
    }
    .mystery_features .round-text .image img {
        width: 60px;
        height: 60px;
    }
    .mystery_features .text h1, .mystery_features .text h2, .mystery_features .text h3, .mystery_features .text h4, .mystery_features .text h5, .mystery_features .text h6 {
        font-size: 21px;
        line-height: 31px;
    }
    .mystery_features .round-text .text span {
        line-height: 20px;
    }
    .banner .mystery_features {
        padding: 50px 0px 20px;
    }

    .section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
        font-size: 40px;
        line-height: 40px;
    }

    .section-heading span {
        font-size: 30px;
        line-height: 30px;
    }

    .all-link .link span {
        margin-bottom: 10px;
    }
    .all-link .link ul.second {
        margin-top: 30px;
    } 

}

@media (min-width: 992px) and (max-width: 1199px){

    .banner .text .date .sale {
        margin-right: 14px;
    }
    .banner .text-img .row {
        margin: 0px -25px;
    } 
    .banner .text-img [class*="col-"] {
        padding: 0px 25px;
    }
    .banner .text h1, .banner .text h2, .banner .text h3, .banner .text h4, .banner .text h5, .banner .text h6 {
        font-size: 50px;
        line-height: 60px;
    }
    .banner .text .key span {
        word-break: break-all;
    }
    .banner .text p br {
        display: none;
    }
    p {
        font-size: 20px;
        line-height: 34px;
    }
    .banner .text .all-btn .btn {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 18px;
    }
    .mystery_features .round-text .text {
        margin-left: 15px;
    }
    .mystery_features .round-text .image img {
        width: 60px;
        height: 60px;
    }
    .mystery_features .text h1, .mystery_features .text h2, .mystery_features .text h3, .mystery_features .text h4, .mystery_features .text h5, .mystery_features .text h6 {
        font-size: 32px;
        line-height: 42px;
    }
    .banner .mystery_features {
        padding: 70px 0px 25px;
    }

    .section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
        font-size: 45px;
        line-height: 45px;
    }
    .section-heading span {
        font-size: 35px;
        line-height: 35px;
    }
    .footer {
        padding: 75px 0px 45px;
    }

    .all-link .link span {
        margin-bottom: 20px;
    }
    .all-link .link ul.second {
        margin-top: 45px;
    } 
}

@media (min-width: 1400px) {
    .container {
        max-width: 1275px;
    }
}



/*---------- Large Desktop , Large Screen End ----------*/
